__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

checkpoints/
final_model/
Outputs/

.cache/
.huggingface/
hf_cache/
wandb/

.env

.vscode/
.idea/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

docker-compose.override.yml