langchain
langchain-openai
langchain-mcp-adapters==0.3.2

mcp==1.29.1

langchain-community
langchain-text-splitters
langchain-huggingface

faiss-cpu
sentence-transformers

transformers
torch
peft
accelerate

python-telegram-bot
python-dotenv